<!DOCTYPE>
<html>

<head>
  <script src="js/common/jquery-2.1.0.min.js"></script>
  <script src="js/index.js"></script>
</head>

<body>
  <form id="index">
    <input type="button" id="test" value="test" />
  </form>
</body>
</body>

</html>